
.profilepic{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 0;
  float: right;
}
.profile_name{
  display: grid;
  align-content: center;
 justify-content: center; 

}
@keyframes example{
  0% {color: orange;}
  25% {color: orangered;}
  50%  {color: orchid;}
  100% {color: pink;}
}

.github_link{
 margin-left: 15px;
 border: solid 1px ;
 border-radius: 25%;
 text-decoration: none;
 color: orange;
 animation-name: example;
 animation-duration: 4s;
 animation-iteration-count: infinite;
 justify-content: center;
}
.linkedin_link{
  margin-left: 15px;
  border: solid 1px ;
  border-radius: 25%;
  text-decoration: none;
  color: orange;
  animation-name: example;
  animation-duration: 4s; 
  animation-iteration-count: infinite;
  justify-content: center;
}
.details{
  display: flex;
  align-items: center;
  justify-content: center;

}



